@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Search and find MVD Files</h1>
    <div class="card-img border-primary">
        <img src="~/city_of_johannesburg_logo.svg.png" style="align-self:center" width="300" height="300" />
    </div>
</div>
