@* <style>
    #preloader {
        background: white no-repeat center center;
        height: 100vh;
        width: 100%;
        position: fixed;
        z-index: 100;
    }
</style>
<div id="preloader"> <img src="~/Images/obj_page_loader.gif" /> </div>
<script asp-append-version="true" src="~/js/loading.js" type="text/javascript"></script>
<script asp-append-version="true" src="~/js/site.js"></script>*@
<body onload="checkBrowser();">
    <br /> 
    <h1>Mvd Search  </h1>
    <form role="search" asp-controller="PDF"  asp-action="viewFiles">

        <div>
            <nav class="navbar navbar-expand-lg navbar-dark">

                <p class="pt-2">Please Fill at least one of the following fields:</p>
                
            </nav>
            <div class="d-flex">
                <div class="mt-3 col-md-4" style="overflow:hidden; border:none;">
                    <label class="fw-bold fs-5">
                        Township(<span style="color: red;">required</span>):
                    </label><br />
                    <label  class="fw-bold fs-5 mt-4">
                       Objection No:
                    </label><br />

                  @*   <label class="fw-bold fs-5 mt-4">
                        Section Name:
                    </label><br /> *@
                  

                </div>



                <div class="mt-3 col-md-6" style="overflow:hidden; border:none;">
 
                    <select style="width: 75%;border:black solid 1px;" class="mt-3 col-sm-2 col-form-label form-control" id="SearchAddress" name="TownName">
                        <option value="">Select Township</option>
                        @foreach (var item in ViewBag.Township_List)
                        {
                            <option value="@item.TownshipNames" >@item.TownshipNames</option>
                        }
                    </select>


                    <input type="text" style="width: 75%;border:black solid 1px;" class="mt-3 col-sm-2 col-form-label form-control" id="SearchStand" name="ObjectionNo"
                            />

                    <input hidden readonly type="text" style="width: 75%;border:black solid 1px;" value="@TempData["sectionName"]" class="mt-3 col-sm-2 col-form-label form-control" id="SearchStand" name="folderName" />
                    <input hidden readonly type="text" style="width: 75%;border:black solid 1px;" value="@TempData["MVDsearchPage"]" class="mt-3 col-sm-2 col-form-label form-control" id="SearchStand" name="MvdName" />
      

                   
                </div>
            </div>
        </div>

        <button class="btn btn-primary" type="submit">Search Property</button>
    </form>
   

</body>